<div>
     <div>   
        <a href ="/">Home</a><br>
            <table><tr>
                    <!-- <th>Title</th>
                    <th>Content</th>
                    <th>Author</th> -->
                    <th>List of Authors</th>
                </tr>
       
    
                <% items.forEach(function(row, i){ %>
            <tr>
            <td><a href = "/get-data/<%-row.id %>"><%-row.title %></a><br>
                <a href = "/get-data/<%-row.id %>">Show</a><br><br></td>
            </tr>
                <!-- <a href = "/get-data/<%-row.id %>">Show</a>
                <a href = "/get-data/<%-row.id %>/edit">Edit</a></div> -->
            <!-- <td><%-row.content %></td>
            <td><%-row.author %></td>  -->
            
            
            <% }) %>
            </table>
    </div>

</div>